.site-header {
    background-color: #583718f5;
    color: #de845491;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 10px;
}
.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self:center;
    box-shadow:#9c5c1c 2px 5px 5px;
}
body{
    margin: 0;
}